<div class="container">
  <main>
    <div class="py-3 text-center">
      <h2>ALTA DE ACTOR</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>Seleccione país de origen</span>
        </h4>
        <app-tabla-pais (PasamosUnPais)="tomarPaisSeleccionado($event)"></app-tabla-pais>
        <br/>
      </div>
      <div class="col-md-7 col-lg-8">

        
        <form [formGroup]="forma" (ngSubmit)="agregarActor()">
          <h4 class="mb-3 text-primary">Datos del actor</h4>
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="nombre" class="form-label nombre-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" required/>
              <small *ngIf=" forma.controls['nombre'].errors?.['required'] && forma.controls['nombre'].touched">
              El nombre es requerido
              </small>
              <small class="invalid" *ngIf="forma.controls['nombre'].errors?.['containsSpaces'] && forma.controls['nombre'].touched">
                El nombre no puede contener espacios
              </small>
            </div>

            <div class="col-sm-6">
              <label for="apellido" class="form-label apellido-label">Apellido</label>
              <input type="text" class="form-control" formControlName="apellido" required/>
              <small  *ngIf=" forma.controls['apellido'].errors?.['required'] && forma.controls['apellido'].touched">
              El apellido es requerido
              </small>

              <small *ngIf="forma.controls['apellido'].errors?.['containsSpaces'] && forma.controls['apellido'].touched">
                El apellido no puede contener espacios
              </small>
            </div>

           
            <div class="col-md-3">
              <label for="edad" class="form-label edad-label">Edad</label>
              <input type="number" formControlName="edad" class="form-control" formControlName="edad" required/>
              <small *ngIf= "forma.controls['edad'].errors?.['required'] && forma.controls['edad'].touched">
              La edad es requerida
              </small>

              <small *ngIf= "forma.controls['edad'].errors?.['min'] || forma.controls['edad'].errors?.['max'] && forma.controls['edad'].touched">
              La edad debe ser entre 18 años y 99 años.
              </small>
            </div>

            
            <div class="col-md-5" style="width: contain">
              <label for="sexo" class="form-label sexo-label">Sexo</label>
              <select id="sexo" formControlName="sexo" required class="sexo">
                <option value="">Seleccione uno</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
              </select>
              <br/>
              <small *ngIf= "forma.controls['sexo'].errors?.['required'] && forma.controls['sexo'].touched">
              El sexo es requerido
              </small>
            </div>

         
            <div class="col-sm-6">
              <label for="nombrePais" class="form-label pais-label">Pais</label>
              <div style="display: flex">
                <input type="text" class="form-control" formControlName="nombrePais" [ngModel]="actorNuevo.nombrePais" required readonly/>
              </div>
              <small *ngIf= "forma.controls['nombrePais'].errors?.['required'] && forma.controls['nombrePais'].touched">
                El pais es requerido
              </small>
            </div>
          </div>

          <hr class="my-4"/>

          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Registrar Actor
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
