.contenedor {
  height: 16rem;
  overflow: scroll;
}

.pais {
  font-weight: bolder;
  padding: 10px;
}

.pais:hover {
  background: #666;
  color: #fff;
  transition: background 0.5s;
  cursor: pointer;
}
